$desktop: 1025;
$tablet: 1024;
$note: 960;
$mobile: 820;
$desktop-media-query: "min-width: 1025px";
$tablet-media-query: "max-width: 1024px";
$note-media-query: "max-width: 960px";
$mobile-media-query: "max-width: 768px";

:export {
  desktop: $desktop;
  tablet: $tablet;
  note: $note;
  mobile: $mobile;
  desktopMediaQuery: $desktop-media-query;
  tabletMediaQuery: $tablet-media-query;
  noteMediaQuery: $note-media-query;
  mobileMediaQuery: $mobile-media-query;
}

@media (width >= 1025px) { 
  #root {
    background-color: rgb(46 41 41);
  }
}

@media (width <= 1024px) { 
  #root {
    background-color: rgb(37 207 66);
  }
}

@media (width <= 920px) { 
  #root {
    background-color: red;
  }
}

@media (width <= 768px) { 
  #root {
    background-color: gold;
  }
}